PORT=3000
SMPC_ENGINE=
PLAYER_1=ws://localhost:3005
PLAYER_2=ws://localhost:3006
PLAYER_3=ws://localhost:3007
CLIENT_1=ws://localhost:3008
CLIENT_2=ws://localhost:3009
CLIENT_3=ws://localhost:3010
SESSION_SECRET=
ROOT_CA=
KEY=
CERT=
